

.menu__link {
	font-family: 'Museo Sans Cyrl';
}
.main__title {
    font-family: 'PT Serif';
}
.main__subtitle {
	font-family: 'PT Serif';
}
.main__text {
    font-family: 'Museo Sans Cyrl';
}
.main__button {
    font-family: 'Museo Sans Cyrl';
}